<script>
    document.onkeydown = function(e) {
        // https://javascript.info/keyboard-events
        if (e.ctrlKey && e.code == "KeyF") {
            document.querySelector("i.fa.fa-search.fa-fw").click();
            e.preventDefault();
        }
    };
</script>